<html>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/newpage.css') }}">
    <head></head>
    <title>environment.io</title>
    <style>
        body{
            /* background-image: url('https://cdn.shopify.com/s/files/1/0067/9588/6703/articles/banner_1024x1024.jpg?v=1634791187'); */
            background-image: url({{img}});
        }
    </style>

    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <!-- <a href="signup.html">Sign Up</a> -->
          </div>
    <!-- <h3> {{user}} is logged in </h3> -->
    <h1>Enviornment.io</h1>
    <h2>Here you will be created a suitable environment based on your mood:</h2>
    <form action ="{{ url_for('main') }}" method="post">
        <label for="mood">Mood</label>
        <select name="mood" id="mood">
          <option value="sad">Sad</option>
          <option value="happy">Happy</option>
          <option value="mad">Mad</option>
          <option value="anxious">Anxious</option>
          <option value="stressed">Stressed</option>
        </select>
        <input type="submit" value="Submit" />     
    </form>
    <p>Here is your song: ({{playlistLink}})</p>
    <!-- <button onClick="window.location.reload();">Click here to change Movies </button> -->
 
    </body>
</html>